body {
  background-color: #0e1621;
  color: rgb(179, 179, 179);
  padding: 20px;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 767px) {
  body {
    padding: 0px;
  }
}

.wrapper {
  background: #242f3d;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px #1b2533;
}

.header {
  display: flow-root;
  width: 100%;
}

.me {
  display: flex;
  width: 100%;
}

.info {
  display: flex;
}

@media (max-width: 767px) {
  .info {
    display: block;
  }
}
.sidebar {
  min-width: 30%;
  background-color: #203e5b;
  padding-top: 20px;
  box-shadow: 5px 0 10px rgb(0 0 0 / 35%);
}

@media (max-width: 767px) {
  .sidebar {
    padding-bottom: 20px;
  }
}

.mybutton {
  border: none;
  color: #090909;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 0.5em;
  background: #436686;
  border: 1px solid #2f4e6b;
  transform: all 0.3s;
  box-shadow: 3px 3px 12px #2f5170, -6px -6px 12px #17334b;
}

.mybutton:hover {
  border: 1px solid white;
}

.mybutton:active {
  box-shadow: 4px 4px 12px #203e5b, -4px -4px 12px #203e5b;
}

.myphoto {
  position: relative;
  width: 30%;
  box-shadow: 5px 0 10px rgb(0 0 0 / 35%);
}

@media (max-width: 767px) {
  .myphoto {
    max-width: 80%;
    border-radius: 50%;
    margin: 10px 10px 15px;
  }
}

.contacts-title {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  color: #6ab4f3;
}

.contacts-text {
  height: 35px;
  margin-top: 10px;
}

.contacts-link {
  margin-left: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .contacts-link {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .contacts-link {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .contacts-link {
    font-size: 18px;
  }
}

.contacts-buttons {
  margin-left: 20px;
  margin-top: 10px;
}

.skills-container {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

.skill-container {
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .skill-container {
    max-width: 33.3%;
    margin-right: 15px;
  }
}

.skill-title {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.skills-list {
  padding: 0;
  margin: 0;
}

.skills-list > li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #6ab4f3;
}

.skills-list > li > span {
  color: rgb(179, 179, 179);
}

.about-me-container {
  padding: 0px 40px;
}

.about-me-info {
  margin-left: 40px;
  margin-bottom: auto;
  margin-top: auto;
}

@media (max-width: 767px) {
  .about-me-container {
    padding: 20px 20px;
  }
  .about-me-info {
    margin-left: 8px;
  }
}
.surname {
  color: white;
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
  margin: 0;
}

.name {
  color: white;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 10px;
}

.born-date {
  font-size: 20px;
  margin: 0;
  color: gray;
}

@media (max-width: 982px) {
  .surname {
    font-size: 38px;
    line-height: 38px;
  }
  .name {
    font-size: 28px;
    margin-bottom: 3px;
  }
  .born-date {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .surname {
    font-size: 25px;
    line-height: 25px;
  }
  .name {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .born-date {
    font-size: 12px;
  }
}

.about-me-title {
  color: white;
  font-size: 26px;
  font-weight: 700;
  line-height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.job-container {
  margin-left: 20px;
  margin-bottom: 20px;
}

.company-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #6ab4f3;
}

.company-name a {
  color: #6ab4f3;
}

.job-time {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.divider {
  color: white;
  font-weight: 600;
}

.job-explain {
  margin-left: 10px;
  margin-top: 22px;
}

.job-position {
  color: white;
  margin: 0;
}

.job-about {
  margin: 0;
}

@media (max-width: 767px) {
  .company-name {
    font-size: 17px;
  }
  .job-time {
    font-size: 10px;
    line-height: 14px;
  }
  .job-explain {
    margin-top: 8px;
  }
  .job-about {
    font-size: 13px;
  }
}

.theme-button {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  height: max-content;
  width: max-content;
}

.theme-name {
  margin: auto;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin: 0 8px 0 8px;
}

@media (max-width: 767px) {
  .switch {
    font-size: 13px;
  }
  .theme-button {
    margin-top: 12px;
  }
  .theme-name {
    font-size: 13px;
  }
}
